#main-faq {
	min-height: 100vh;
	background: rgb(231, 215, 238);
	background: linear-gradient(180deg, rgba(231, 215, 238, 1) 0%, rgba(255, 255, 255, 1) 79%);
}

#main-faq > #cont {
	height: 100%;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

#main-faq .header-space {
	padding-top: 80px;
}

.title {
	color: var(--color-1-medium);
	text-align: center;
	margin: 20px;
	overflow-y: hidden;
}

.accordion>.card>.card-header {
    display: flex;
    justify-content: space-between;
}

.card-header:hover {
	cursor: pointer;
}

#link {
	color: var(--color-2-dark);
}

#link:hover {
	text-decoration: none;
	color: var(--color-2-medium);
}

.arrow {
	min-width: fit-content;
	color: var(--color-1-extra-light);
}

.footer-row {
	margin-top: 50px;
	position: relative;
}
