#main-contest {
	min-height: 100vh;
	background: rgb(231, 215, 238);
	background: linear-gradient(180deg, rgba(231, 215, 238, 1) 0%, rgba(255, 255, 255, 1) 55%);
}

@media (max-width: 992px) {
	#main-contest {
		background: rgb(231, 215, 238);
		background: linear-gradient(180deg, rgba(231, 215, 238, 1) 0%, rgba(255, 255, 255, 1) 45%);
	}
}

@media (max-width: 692px) {
	#main-contest {
		background: rgb(231, 215, 238);
		background: linear-gradient(180deg, rgba(231, 215, 238, 1) 0%, rgba(255, 255, 255, 1) 40%);
	}
}

#main-contest > #cont {
	height: 100%;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin-top: 90px;
}

#main-contest h3 {
    overflow-y: hidden;
    margin: 30px 0 50px;
}

#main-contest div.form-group.row {
    margin-left: 0;
    margin-right: 0;
}

#main-contest .form-control:focus {
    border-color: var(--color-2-light);
    box-shadow: none;
}

#main-contest #form .btn {
    color: #303030;
	border: 1.3px solid;
    border-color: var(--color-2-extra-light);
	display: inline-block;
	font-weight: 400;
	text-align: center;
	text-decoration: none;
	vertical-align: middle;
	cursor: pointer;
	user-select: none;
    background-color: transparent;
    padding: .375rem .75rem;
    margin: 10px;
	font-size: 1rem;
	line-height: 1.5;
	border-radius: .25rem;
	box-shadow: none;
	transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out,
        box-shadow .15s ease-in-out;
    width: 131px;
}

#main-contest #form .btn:hover, #main-contest #form .btn:focus{
	box-shadow: 0 0 10px var(--color-shadow-2);
}

#main-contest #form #search.btn{
    background-color: var(--color-2-extra-light);
    border-color: transparent;
}

#main-contest #search-results a {
    color: var(--color-2-dark);
}

#main-contest #search-results a:hover{
	color: var(--color-2-medium);
	text-decoration: none;
}

#main-contest .list-group-item {
    text-align: left;
    background-color: #fdfbfe;
}

#main-contest .list-group-item:hover {
	background-color: #f8f9fa;
}