.footer {
	width: 100%;
	padding: 25px 0;
	text-align: center;
	background-color: var(--color-1-medium);
	color: white;
	display: flex;
	flex-direction: row;
}

.footer span.copyright {
	font-size: 80%;
	line-height: 40px;
	text-transform: none;
}

.footer ul.social-buttons {
	margin-bottom: 0;
}

.footer ul.social-buttons li a {
	font-size: 20px;
	line-height: 50px;
	display: flex;
	transition: all 0.3s;
	color: white;
	border-radius: 100%;
	outline: none;
}

.footer ul.social-buttons li > a {
	display: flex;
	align-items: center;
	justify-items: center;
}

.footer ul.social-buttons li a:active,
.footer ul.social-buttons li a:focus,
.footer ul.social-buttons li a:hover {
	box-shadow: inset 0 0 20px white;
}

.footer .logos {
	width: 46px;
	height: 46px;
}

.footer .footer-link {
	/* color: white; */
	color: rgb(242, 198, 253) !important;
	text-decoration: none !important;
}

.footer .footer-link:hover {
	/* color: rgb(237, 167, 255); */
	color: rgb(234, 151, 255) !important;
	text-decoration: none !important;
}

@media (max-width: 767px) {
	.footer .footer-item {
		padding: 10px 0;
	}
}
