.footer {
	width: 100%;
	padding: 25px 0;
	text-align: center;
	background-color: var(--color-1-medium);
	color: white;
	display: flex;
	flex-direction: row;
}

.footer span.copyright {
	font-size: 80%;
	line-height: 40px;
	text-transform: none;
}

ul.social-buttons {
	margin-bottom: 0;
}

ul.social-buttons li a {
	font-size: 20px;
	line-height: 50px;
	display: flex;
	transition: all 0.3s;
	color: white;
	border-radius: 100%;
    outline: none;
}

ul.social-buttons li > a {
    display: flex;
    align-items: center;
    justify-items: center;
}

ul.social-buttons li a:active,
ul.social-buttons li a:focus,
ul.social-buttons li a:hover {
    box-shadow: inset 0 0 20px white;
}

.logos {
	width: 46px;
    height: 46px;
}

.footer-link{
    color: white;
    text-decoration: none;
}

.footer-link:hover{
    color: rgb(237, 167, 255);
    text-decoration: none;
}

@media (max-width: 767px) {
	.footer-item {
		padding: 10px 0;
	}
}

