:root {
	--color-1-extra-light: #b19cd8;
	--color-1-light: #6844a4;
	--color-1-medium: #5d2689;
	--color-1-dark: #47297b;
	--color-2-extra-light: #f8f3a6;
	--color-2-light: #ffe863;
	--color-2-medium: #ffd93d;
	--color-2-dark: #f5bd1f;
	--color-shadow-1: #50505067;
	--color-shadow-2: rgba(92, 99, 105, 0.377);
	--color-gray-1: #ebebe8;
	--color-gray-2: #e4e3d8;
}

* {
	padding: 0;
	margin: 0;
	font-family: 'Open Sans', 'Roboto', Arial, sans-serif;
	box-sizing: border-box;
	overflow-x: hidden;
}

.title {
	color: var(--color-1-medium);
	text-align: center;
	margin: 20px;
	overflow-y: hidden;
}

.footer-row {
	margin-top: 50px;
	position: relative;
}

h3 {
	font-weight: 400;
	text-transform: uppercase;
	letter-spacing: 1px;
	color: var(--color-1-medium);
	text-align: center;
}

.container-fluid,
.container-lg,
.container-md,
.container-sm,
.container-xl {
	width: 100% !important;
	padding-right: 0 !important;
	padding-left: 0 !important;
}

table th,
table td {
	font-family: 'Open Sans', 'Roboto', Arial, sans-serif !important;
}