#main-home {
	margin: 0;
	padding: 0;
}

#main-home #backg {
	background-image: url(../../images/wallpaper.png);
	height: 140vh;
	width: 100vw;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	margin-top: -45px;
}

#main-home #logo-container,
#main-home #logo-container div {
	height: 100%;
}

#main-home #logo-col {
    padding-top: 200px;
    display: flex;
    justify-items: center;
    align-items: center;
}

@media (max-width: 1024px) {
    #main-home #logo-col {
        padding-top: 180px;
    }
}

@media (max-width: 360px) {
    #main-home #logo-col {
        padding-top: 180px;
    }
}

#main-home ul.social-buttons {
    /* margin: 30px 0 0 30px; */
    width: 100%;
    display: block;
    text-align: center;
	/* align-items: center; */
}

#main-home ul.social-buttons li a {
	font-size: 20px;
	line-height: 50px;
	display: flex;
	transition: all 0.3s;
	color: white;
	border-radius: 100%;
	outline: none;
}

#main-home ul.social-buttons li > a {
	display: flex;
	align-items: center;
	justify-items: center;
}

#main-home ul.social-buttons li a:active,
#main-home ul.social-buttons li a:focus,
#main-home ul.social-buttons li a:hover {
	box-shadow: inset 0 0 20px white;
}

#main-home .logos {
	width: 46px;
	height: 46px;
}

#main-home .row-news {
	margin-top: -80px;
}

