#main-contact {
	min-height: 100vh;
	background: rgb(231, 215, 238);
	background: linear-gradient(180deg, rgba(231, 215, 238, 1) 0%, rgba(255, 255, 255, 1) 50%);
}

@media (max-width: 992px) {
	#main-contact {
		background: rgb(231, 215, 238);
		background: linear-gradient(180deg, rgba(231, 215, 238, 1) 0%, rgba(255, 255, 255, 1) 40%);
	}
}

@media (max-width: 692px) {
	#main-contact {
		background: rgb(231, 215, 238);
		background: linear-gradient(180deg, rgba(231, 215, 238, 1) 0%, rgba(255, 255, 255, 1) 35%);
	}
}

#main-contact > #cont {
	height: 100%;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin-top: 80px;
}

#main-contact h1 {
	margin: 50px 20px;
}

@media (max-width: 768px) {
	#main-contact h1 {
		margin: 30px 20px 50px;
	}
}

#main-contact .contact-col {
	display: flex;
	align-items: center;
	flex-direction: column;
}

#main-contact #icons-row a {
	display: flex;
	flex-direction: column;
	align-items: center;
}

#main-contact #icons-row a p:hover {
	text-decoration: none;
	color: var(--color-2-medium);
}

#main-contact #icons-row a:hover {
	text-decoration: none;
	color: var(--color-2-medium);
}

#main-contact .icon-img {
	width: 25px;
}

#main-contact #map-col {
	border-left: 3px dotted var(--color-gray-2);
	padding: 0;
}

#main-contact #map-col #map {
	border: 0;
	width: 100%;
	height: 400px;
}

@media (max-width: 768px) {
	#main-contact #map-col {
		border-left: none;
		padding: 0;
	}
}

#main-contact #jumbo-about {
	background-color: transparent;
	padding: 20px 2rem;
}

#main-contact .about-icons {
	background-color: white;
	box-shadow: 0 0 15px #b19cd87a;
	border-radius: 100%;
	height: 100px;
	width: 100px;
	margin: 10px 10px 10px;
}

#main-contact .about-icons img {
	width: 100px;
}

#main-contact #icons-row {
	display: flex;
	justify-content: space-evenly;
	align-content: center;
	text-align: center;
	align-items: flex-start;
}

#main-contact .about-icons:hover {
    box-shadow: 0 0 15px var(--color-2-extra-light);
}

#main-contact #icons-row > div {
	flex: 0 0 210px;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
}

#main-contact #icons-row > div p {
	color: black;
    margin: 5px 0 10px;
    font-weight: bold;
}

@media (max-width: 1066px) {
	#main-contact #icons-row > div {
		flex: 0 0 143px;
	}
}

@media (max-width: 652px) {
	#main-contact #icons-row > div {
		flex: 0 0 50%;
	}
}
